<div class="main-container">
    <div class="food-container" (click)="goToIngredientType('meat')">
        <div class="food-image">
            <img src="./assets/images/meats.png" alt="">
        </div>
        <div class="food-name">
            Meat
        </div>
    </div>
    <div class="food-container" (click)="goToIngredientType('seafood')">
        <div class="food-image">
            <img src="./assets/images/seefood.png" alt="">
        </div>
        <div class="food-name">
            Seafood
        </div>
    </div>
    <div class="food-container" (click)="goToIngredientType('vegetable')">
        <div class="food-image">
            <img src="./assets/images/vegi.png" alt="">
        </div>
        <div class="food-name">
            Vegetable
        </div>
    </div>
    <div class="food-container" (click)="goToIngredientType('fruit')">
        <!-- <div class="food-container" routerLink="/library/library-type" > -->
        <div class="food-image">
            <img src="./assets/images/fruits.png" alt="">
        </div>
        <div class="food-name">
            Fruit
        </div>
    </div>
</div>