$headerHeight: 7.5vh;
// Main Container
$mainContaineHeight: 92.5vh; // 100vh - $headerHeight
$horizontalPadding: 2vw;
// Colors
$theme-blue: #4790B3;
$theme-green: #4CBE6E;
$theme-light-grey: #888;
$theme-light-yellow: #faf5db;