@import '../sass/variables.scss';
@import '../sass/mixins.scss';
@import '../sass/_base.scss';
$food-container-width: 30vw;
$food-container-height: 30vw;
.main-container {
    font-size: 12pt;
    .food-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 $horizontalPadding;
        .food-name {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 1vh 0;
            // text-transform: uppercase;
        }
        .food-description {
            font-size: 1rem;
        }
        .food-image {
            width: 100%;
            height: 25vh;
            display: flex;
            justify-content: center;
            margin-top: 5vh;
            img {
                max-width: 25vh;
                max-height: 25vh;
            }
        }
    }
}

h2 {
    text-align: center !important;
    font-size: 1.5rem;
    color: #666;
    font-weight: bold;
}