<div class="main-container">
    <!-- <div class="food-container">
      <div class="food-image">
          <img src="./assets/images/fruits/apple.png" alt="">
      </div>
      <div class="food-name">
          <h2>Apple</h2>
      </div>
  </div>
  <div class="food-detail-container">
      <div class="food-detail-field">
          <div class="food-detail-field-left">
              Description:
          </div>
          <div class="food-detail-field-right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget mauris quis magna feugiat ullamcorper. Suspendisse ullamcorper leo ac ex mattis bibendum.
          </div>
      </div>
  </div> -->
    <div class="food-container">
        <div class="food-name">{{ingredient.name}}</div>
        <div class="food-description">
            {{ingredient.description}}
        </div>
        <div class="food-image">
            <img src={{ingredient.imgURL}} alt="">
        </div>
    </div>

</div>