<app-header></app-header>
<div class="main-container">
    <div class="profile-container">
        <div class="profile-img">
        </div>
        <div class="profile-dtl">
            <div class="profile-name">
                <p>{{user.name}}</p>
            </div>
            <div class="profile-content">
                {{user.gender}}, {{user.age}} Years old <br/> {{user.weight}}kg, {{user.height}}cm
            </div>
        </div>
    </div>
    <div>
        <h2>Shared Recipe : {{sharedRecipe}}</h2>
        <h2>Private Recipe : {{privateRecipe}}</h2>
    </div>
</div>

<app-footer></app-footer>