<app-header></app-header>

<!-- If the lunchbox is not empty -->
<div class="main-container no-lunch" *ngIf="isLunchBoxEmpty">
    <h1>The lunch box is empty</h1>
    <div class="add-lunchbox" routerLink="/recipe/main">Add New Lunch Box</div>
</div>

<!-- If the lunchbox is not empty -->
<div class="main-container" *ngIf="!isLunchBoxEmpty">
    <div class="daily-container">
        <h2>Today's Lunch Box</h2>
        <div class="daily-food-image">
            <img src={{recipe.imgURL}} alt="">
        </div>
        <h3>{{recipe.name}}</h3>
        <div class="daily-food-nutrition">
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Description:
                </div>
                <div class="food-nutrition-field-right" style="text-align: left">
                    {{recipe.description}}
                </div>
            </div>
            <div class="ingredients-field">
                <div class="ingredients-field-left">
                    Ingredients:
                </div>
                <div class="ingredients-field-right" *ngFor="let ingredient of Ingredients">
                    <div class="ingredient" (click)="goToIngredient(ingredient.name)">
                        <img src={{ingredient.imgURL}} alt="">
                    </div>
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Carbohydrates:
                </div>
                <div class="food-nutrition-field-right">
                    {{carbohydrates}}g
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Protein:
                </div>
                <div class="food-nutrition-field-right">
                    {{protein}}g
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Sodium:
                </div>
                <div class="food-nutrition-field-right">
                    {{sodium}}mg
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Cholesterol:
                </div>
                <div class="food-nutrition-field-right">
                    {{cholesterol}}mg
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Fat:
                </div>
                <div class="food-nutrition-field-right">
                    {{fat}}g
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>