<app-header></app-header>
<div class="main-container">
    <div class="daily-container">
        <h2>Today's Lunch Box</h2>
        <div class="daily-food-image">
            <img src="./assets/images/lunch3.jpg" alt="">
        </div>
        <div class="daily-food-nutrition">
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Description:
                </div>
                <div class="food-nutrition-field-right" style="text-align: left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget mauris quis magna feugiat ullamcorper. Suspendisse ullamcorper leo ac ex mattis bibendum.
                </div>
            </div>
            <div class="ingredients-field">
                <div class="ingredients-field-left">
                    Ingredients:
                </div>
                <div class="ingredients-field-right" *ngFor="let ingredient of Ingredients">
                    <div class="ingredient" (click)="goToIngredient(ingredient.name)">
                        <img src={{ingredient.imgURL}} alt="">
                    </div>
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Carbohydrates:
                </div>
                <div class="food-nutrition-field-right">
                    {{carbohydrates}}g
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Protein:
                </div>
                <div class="food-nutrition-field-right">
                    {{protein}}g
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Sodium:
                </div>
                <div class="food-nutrition-field-right">
                    {{sodium}}mg
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Cholesterol:
                </div>
                <div class="food-nutrition-field-right">
                    {{cholesterol}}mg
                </div>
            </div>
            <div class="food-nutrition-field">
                <div class="food-nutrition-field-left">
                    Fat:
                </div>
                <div class="food-nutrition-field-right">
                    {{fat}}g
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>